@page "/"

<h1>LMS CellDIVE Integration POC!</h1>

This Application is designed as a part of the POC to demonstrate the viewing High resolution Images with features like Deep Zooming and selecting the Regions required for our interest.
This application uses technologies like Blazor, OpenSeaDragon and DZI to perform the required operations.

<hr />
<p><i>Powered by ASP.NET CORE and OpenSeaDragron</i></p>


